<!DOCTYPE html>
<html ng-app lang="es">
<head>
    <meta charset="UTF-8">
    <title>Alumnos</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body ng-controller="StudentController">
    <h1>Cuaderno Alumnos</h1>    
    <div class="wrapper">
        <div class="contact-item" ng-repeat="alumno in alumnos | orderBy: 'nombre' ">
            <div>{{alumno.nombre}} - {{alumno.telefono}}</div>
            <span class="nivel">{{alumno.nivel}}</span>
        </div>
    </div>

    <br/>
    
    <center><button ng-click="ShowForm()" ng-hide="formVisibility">Agregar alumno</button></center>
    <div ng-show="formVisibility" class="wrapper">
        <h2>Añadir un Contacto</h2>
        Nombre: <input type="text" ng-model="nuevoAlumno.nombre"></input>
        Telefono: <input type="text" ng-model="nuevoAlumno.telefono"></input>
        Curso: <input type="text" ng-model="nuevoAlumno.nivel"></input>
        <button ng-click="Save()">Guardar</button>
    </div>

    <script src="../js/angular.min.js" type="text/javascript"></script>
    <script src="mis_scripts.js" type="text/javascript"></script>
</body>
</html>
